---
http_interactions:
- request:
    method: post
    uri: https://api.lyft.com/v1/rides
    body:
      encoding: UTF-8
      string: '{"origin":{"lat":37.7772,"lng":-122.4233},"destination":{"lat":37.7972,"lng":-122.4533},"ride_type":"lyft"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Limit:
      - '5'
    body:
      encoding: UTF-8
      string: '{"status": "pending", "ride_id": "3509592056482665512", "ride_type":
        "lyft", "passenger": {"rating": null, "first_name": "Jane", "last_name": "Doe",
        "image_url": "https://public-api.lyft.com/static/images/user.png", "user_id":
        null}, "destination": {"lat": 37.7972, "lng": -122.4533, "address": null},
        "origin": {"lat": 37.7772, "lng": -122.4233, "address": null}}'
  recorded_at: Thu, 09 Mar 2017 03:00:59 GMT
- request:
    method: put
    uri: https://api.lyft.com/v1/rides/3509592056482665512/destination
    body:
      encoding: UTF-8
      string: '{"lat":37.7972,"lng":-122.4533}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
    body:
      encoding: UTF-8
      string: '{"lat": 37.7972, "lng": -122.4533}'
  recorded_at: Thu, 09 Mar 2017 03:00:59 GMT
recorded_with: VCR 3.0.3
