---
http_interactions:
- request:
    method: post
    uri: https://api.lyft.com/v1/rides
    body:
      encoding: UTF-8
      string: '{"origin":{"lat":37.7772,"lng":-122.4233},"destination":{"lat":37.7972,"lng":-122.4533},"ride_type":"lyft"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Limit:
      - '5'
    body:
      encoding: UTF-8
      string: '{"status": "pending", "ride_id": "17833812332380341888", "ride_type":
        "lyft", "passenger": {"rating": null, "first_name": "Jane", "last_name": "Doe",
        "image_url": "https://public-api.lyft.com/static/images/user.png", "user_id":
        null}, "destination": {"lat": 37.7972, "lng": -122.4533, "address": null},
        "origin": {"lat": 37.7772, "lng": -122.4233, "address": null}}'
  recorded_at: Thu, 09 Mar 2017 03:20:51 GMT
- request:
    method: put
    uri: https://api.lyft.com/v1/sandbox/rides/17833812332380341888
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Limit:
      - '10000'
    body:
      encoding: UTF-8
      string: '{"status": "accepted", "ride_id": "17833812332380341888"}'
  recorded_at: Thu, 09 Mar 2017 03:20:52 GMT
[...]
- request:
    method: put
    uri: https://api.lyft.com/v1/sandbox/rides/17833812332380341888
    body:
      encoding: UTF-8
      string: '{"status":"droppedOff"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '9996'
      X-Ratelimit-Limit:
      - '10000'
    body:
      encoding: UTF-8
      string: '{"status": "droppedOff", "ride_id": "17833812332380341888"}'
  recorded_at: Thu, 09 Mar 2017 03:20:53 GMT
recorded_with: VCR 3.0.3
