---
http_interactions:
- request:
    method: get
    uri: https://api.lyft.com/v1/cost?end_lat=37.7972&end_lng=-122.4533&start_lat=37.7772&start_lng=-122.4233
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '9998'
      X-Ratelimit-Limit:
      - '10000'
    body:
      encoding: UTF-8
      string: '{"cost_estimates": [{"ride_type": "lyft_plus", "estimated_duration_seconds":
        748, "estimated_distance_miles": 3.18, "estimated_cost_cents_max": 1875, "primetime_percentage":
        "0%", "is_valid_estimate": true, "currency": "USD", "estimated_cost_cents_min":
        1175, "display_name": "Lyft Plus", "primetime_confirmation_token": "gAAAAABYvko-Xo8SXSbwLqPXqx_iTIy5zZknL6_Z7GDhj68gL4Edqv9pR69K2CyacWZibYMab93pSho3sIQwlJj-ZBN4_mGzpWxL2sF1ck568h75zft04KqVdWy4jRzysR6xlW5JwAgrgPYYQT7_cl_DqFimECFBnsLLQNd5Zn0zxTGZbv29svjBaD7uYEqTIeeNr8R_9vfUN7T4OOTiJDmoXtONZu2JRTXxcxLWpgoUZgchdSeReFOU2rKddSqZPu2qlAXPuQNT1ULIY2Wbsg_wwkj0E1f2Fyqb9GcHMW9Eu8TZ1--7KYPdZlcvcceOyzairvcMyf5hlFQzfQXOUkpC9JDh-9S2q1lWZQvfFXAYFpYCczSzZXQ=",
        "can_request_ride": true}, {"ride_type": "lyft_line", "estimated_duration_seconds":
        748, "estimated_distance_miles": 3.18, "estimated_cost_cents_max": 416, "primetime_percentage":
        "0%", "is_valid_estimate": true, "currency": "USD", "estimated_cost_cents_min":
        416, "display_name": "Lyft Line", "primetime_confirmation_token": "gAAAAABYvko-5ldJWjuVFnBLHCIB4wiNM6QocEoTMKPovrbJ5I8BvFbaAy0egXsrjASFC4p1dCg-x27lc-DxTmylluZ9Kux1SRfpgKwzXsEmUCicD_L-RqtzmmzlsP-d3CAy0wGKnU9gu5c_3vFDHerWgTypMGd1HFi73vf5pEvWgPSuESztj0H7xFJJpdLVV8y3CwmgD3kYj3pPJs4UtW3nX3QFgVawLdDc5EbKFzKecTKScZknFilgIYQTZKhI-mZlCAOz6vHmOWM9cHlFk15KGbYQIcnLh9mFqSy3UWZIMZ2cOiFBduiUacfCMnXbGmcVf2O_Dehtj2wyAgHeWdPoXguq6ZiFSygVcogOd-wmRF8mqfvjCfo=",
        "can_request_ride": true}, {"ride_type": "lyft", "estimated_duration_seconds":
        748, "estimated_distance_miles": 3.18, "estimated_cost_cents_max": 1275, "primetime_percentage":
        "0%", "is_valid_estimate": true, "currency": "USD", "estimated_cost_cents_min":
        775, "display_name": "Lyft", "primetime_confirmation_token": "gAAAAABYvko-p1CGK2lo9X7AHsf0WhMyvxg93gm5E0UyTEuCWTj-soU-SoGUTxARbn4hPA-HL5pPLaQ9RiT6WHMsyck6JSt5UEj8xbGn_9Wg2mHqKfEHWScBBiaT50m1fo9xU-wSr2q5kujMugj6I4bLBqAHzFY7_KXs4f5DMLDmcU_98tvfM3S4M-4yobsQrHmJapHq5X_UbZVbhpXjZLTjV-LKBqHkQiNXTgFbuj5knt2_WRtLOiFjoWspVFYxDjZ0WFrh6vH_PyKaEeXkjfBa3A0p9fmMCK5jt52THzKNt_DJFWtkTmgklNr8h-GHoRj5nmGLZwrq2mbF5C-i6usuzPzGl35EFWlszXRsKmeQeIgNqeTZ7RU=",
        "can_request_ride": true}]}'
  recorded_at: Tue, 07 Mar 2017 05:50:54 GMT
recorded_with: VCR 3.0.3
