---
http_interactions:
- request:
    method: get
    uri: https://api.lyft.com/v1/drivers?lat=37.7772&lng=-122.4233
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Limit:
      - '5'
    body:
      encoding: UTF-8
      string: '{"nearby_drivers": [{"drivers": [{"locations": [{"lat": 37.776388,
        "lng": -122.421209}]}, {"locations": [{"lat": 37.782454, "lng": -122.424317},
        {"lat": 37.782457, "lng": -122.424289}, {"lat": 37.782459, "lng": -122.424276},
        {"lat": 37.78246, "lng": -122.424266}, {"lat": 37.782461, "lng": -122.424259}]},
        {"locations": [{"lat": 37.781409, "lng": -122.420456}, {"lat": 37.781498,
        "lng": -122.420474}, {"lat": 37.781588, "lng": -122.420492}, {"lat": 37.781653,
        "lng": -122.420506}, {"lat": 37.781739, "lng": -122.420523}]}, {"location[...]
