---
http_interactions:
- request:
    method: get
    uri: https://api.lyft.com/v1/drivers?lat=37.7772&lng=-122.4233
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Limit:
      - '5'
    body:
      encoding: UTF-8
      string: '{"nearby_drivers": [{"drivers": [{"locations": [{"lat": 37.777444,
        "lng": -122.423108}, {"lat": 37.777364, "lng": -122.423092}, {"lat": 37.777264,
        "lng": -122.423072}, {"lat": 37.777154, "lng": -122.42305}, {"lat": 37.777053,
        "lng": -122.42303}]}, {"locations": [{"lat": 37.774105, "lng": -122.429827},
        {"lat": 37.774117, "lng": -122.429737}, {"lat": 37.774129, "lng": -122.429638},
        {"lat": 37.774141, "lng": -122.429548}, {"lat": 37.774153, "lng": -122.429448}]},
        {"locations": [{"lat": 37.779012, "lng": -122.436334}]}, {"locations": [{"lat":
        37.784854, "lng": -122.428224}, {"lat": 37.784875, "lng": -122.428055}, {"lat":
        37.784895, "lng": -122.427897}, {"lat": 37.784918, "lng": -122.427727}, {"lat":
        37.78494, "lng": -122.427558}]}, {"locations": [{"lat": 37.778839, "lng":
        -122.43688}]}, {"locations": [{"lat": 37.775689, "lng": -122.432419}]}, {"locations":
        [{"lat": 37.784667, "lng": -122.421953}, {"lat": 37.784681, "lng": -122.421844},
        {"lat": 37.78469, "lng": -122.421774}, {"lat": 37.7847, "lng": -122.421702},
        {"lat": 37.784708, "lng": -122.421641}]}, {"locations": [{"lat": 37.789932,
        "lng": -122.425814}, {"lat": 37.789933, "lng": -122.425802}, {"lat": 37.789938,
        "lng": -122.425763}]}], "ride_type": "lyft_line"}, {"drivers": [{"locations":
        [{"lat": 37.777444, "lng": -122.423108}, {"lat": 37.777364, "lng": -122.423092},
        {"lat": 37.777264, "lng": -122.423072}, {"lat": 37.777154, "lng": -122.42305},
        {"lat": 37.777053, "lng": -122.42303}]}, {"locations": [{"lat": 37.774105,
        "lng": -122.429827}, {"lat": 37.774117, "lng": -122.429737}, {"lat": 37.774129,
        "lng": -122.429638}, {"lat": 37.774141, "lng": -122.429548}, {"lat": 37.774153,
        "lng": -122.429[...]
