---
http_interactions:
- request:
    method: put
    uri: https://api.lyft.com/v1/rides/17833812332380341888/rating
    body:
      encoding: UTF-8
      string: '{"rating":5,"tip":{"amount":10.0,"currency":"USD"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 Mar 2017 03:22:53 GMT
recorded_with: VCR 3.0.3
