---
http_interactions:
- request:
    method: get
    uri: https://api.lyft.com/v1/rides/17833812332380341888/receipt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
    body:
      encoding: UTF-8
      string: '{"ride_id": "17833812332380341888", "requested_at": "2017-03-09T03:20:51.833015+00:00",
        "line_items": [{"currency": "USD", "amount": 500, "type": "Ride"}, {"currency":
        "USD", "amount": 100, "type": "Tip"}, {"currency": "USD", "amount": 155, "type":
        "Service fee"}, {"currency": "USD", "amount": 0, "type": "Prime Time"}], "charges":
        [{"payment_method": "Card", "currency": "USD", "amount": 377}, {"payment_method":
        "Lyft Credit", "currency": "USD", "amount": 378}], "price": {"currency": "USD",
        "amount": 755, "description": "Total ride price"}, "ride_profile": "personal"}'
  recorded_at: Thu, 09 Mar 2017 03:23:47 GMT
recorded_with: VCR 3.0.3
